.container {
    max-width: 400px;
    min-width: 300px;
    margin: 48px auto;
    color: rgba(0, 0, 0, .85);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    display: block;
    width: 64px;
    height: 68px;
    align-self: center;
}

.logo {
    display: block;
    width: 64px;
    height: 68px;
    background-image: url("//cdn-dida365-com.alikunlun.com/static/build/sign/sign-icons.3bd6463b0667e3323742af44d54d49ff.png");
    background-position: 0 0;
}

.register-section {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 2px;
    padding: 40px 50px;
    text-align: center;
}

.login-container {}

.third-party-container {
    text-align: center;
}

.sub-title {
    color: rgba(0, 0, 0, .24);
    font-size: 13px;
    padding: 30px 0 36px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.horizontal-line::after,
.horizontal-line::before {
    content: "";
    height: 1px;
    width: 50%;
    background-color: rgba(0,0,0,.06);
    position: absolute;
}

.horizontal-line::after{
    right: 17.5em;
    margin-left: 50%;
}
.horizontal-line::before{
    left: 17.5em;
    margin-right: 50%;
}


.other-link {
    text-align: center;
    padding-top: 35px;
    font-size: 14px;
}

a {
    cursor: pointer;
    color: rgb(97, 127, 222);
    text-decoration: none;
}

a:hover {
    text-decoration: underline rgb(97, 127, 222);
    ;
}